<h1>Index</h1>

<% if flash[:notice] %>
  <h3><%=flash[:notice] %> <h3>
<% end %>

<ul>
  <% @events.each do |event| %>
    <li><%=link_to(event.name, event_path(event))%></li>
  <% end %>
</ul>

<%= link_to 'Add Another Event', new_event_path %>
