/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Muli');

body {
  font-family: 'Muli', sans-serif;
}

h1, h2 {
  width: 100%;
  text-align: center;
}

h1 {
  padding-top: 1%;
}

table {
  width: 50%;
  height: 90%;
  table-layout: fixed;
}

td {
  width: 14%;
  text-align: center;
  color:  #DC4C46;
  font-weight: bold;
}

form, .event-details {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 18px;
  padding-top: 2%;
}

input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], button {
  width: 20%;
  background-color: #DC4C46;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover, button:hover {
  background-color: #b03c38;
}

.arrow a:hover {
  color: #e6817d;
}

input[type=submit], p {
  font-size: 20px;
}
.calendar, .form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.calendar {
  height: 70vh;
  table-layout: fixed;
}

.calendar-events a {
  text-decoration: none !important;
}

.calendar-events a:hover {
  background-color: #DC4C46;
  color: white;
}

.form-container {
  padding-top: 1.5%;
}

.arrow a {
  font-size: 70px;
  text-decoration: none !important;
  color: #DC4C46
}

.arrow {
  padding-top: 10%;
  color: #DC4C46
}
